<div class="editCustomTranslation">

    <div piwik-content-block content-title="{{ 'CustomTranslation_CustomTranslation'|translate }}">
        <div piwik-field uicontrol="select" name="language"
             title="{{'General_Language'|translate}}"
             ng-change="editTranslations.loadLanguage();"
             ng-model="editTranslations.languageCode"
             inline-help="{{ 'CustomTranslation_LanguageInlineHelp'|translate }}"
             options='editTranslations.languageOptions'>
        </div>

        <p>{{ 'General_GoTo2'|translate }} <span ng-repeat="translationType in editTranslations.translationTypes">
                <a href="#idType{{translationType.id}}">{{translationType.name}}</a><span ng-show="!$last"> | </span>
            </span>
        </p>

        <div piwik-activity-indicator loading="editTranslations.isLoading"></div>
        <div ng-repeat="translationType in editTranslations.translationTypes" class="translationType translationType{{translationType.id}}">
            <a name="idType{{translationType.id}}"></a>

            <h3>{{translationType.name}}</h3>

            <div piwik-activity-indicator loading="editTranslations.isLoadingTranslation[translationType.id]"></div>

            <div piwik-field uicontrol="multituple" name="multitupletext"
                 title="{{translationType.description}}"
                 full-width="true"
                 ng-model="editTranslations.translations[translationType.id]"
                 ui-control-attributes='editTranslations.uiControlAttributes'>
            </div>

            <div piwik-save-button
                 onconfirm="editTranslations.update(translationType.id)"
                 saving="editTranslations.isUpdating[translationType.id]"
                 disabled="editTranslations.isUpdating[translationType.id]"></div>
        </div>
    </div>
</div>